$color-main: #F9F9F9;
$color-white: #ffffff;
$color-header: #0064EB;
$color-text-primary: #000000;
$color-link: #0064EB;
$color-page-active: #0064EB;
$color-pagination-item-count: #808080;

$width-wrapper: 1336px;
$width-tablet: 720px;