.body{
    background-color: $color-main;
}

.header{
    background-color: $color-header;
    &__wrapper {
        max-width: $width-wrapper;
        padding: 1.6rem 0;
        margin: 0 auto;
    }
}

.main {
    margin-top: 28px;
    &__wrapper{
        display: flex;
        max-width: $width-wrapper;
        margin: 0 auto;
        gap: 85px;
        @include media-laptop {
            flex-direction: column;
            gap: 50px;
        }
    }
}

.button{
    margin: 0;
    border: none;
    padding: 0;
}